.authcontainer {
  display: grid;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}

.signup,
.signin {
  width: min(100% - 2rem, 400px);
  margin-inline: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 2px solid var(--button-main--color); */
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.title {
  text-align: center;
  font-size: 40px;
  color: var(--button-main--color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form label {
  font-size: 18px;
  font-weight: 700;
  margin-top: 1rem;
  color: var(--button-main--color);
}

.form input {
  padding: 12px;
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: var(--border-radius);
  border: 2px solid var(--button-main--color);
  background-color: var(--input-bg-color);
}

.form button {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  margin-top: 1.5rem;
  background-color: var(--button-main--color);
  color: var(--button-text--color);
  border-radius: var(--border-radius);
  border: 0;
  cursor: pointer;
  transition: 0.1s linear;
}

.form button:hover {
  background-color: var(--button-main--color-hover);
}

.form button:active {
  scale: 0.9;
}

.singUp-link {
  color: var(--button-main--color);
  text-decoration: none;
  margin-top: 1rem;
}
